<form [formGroup]="uploadBookForm" (ngSubmit)="onSubmit($event)" class="modal-container bg-secondary-subtle rounded-3">
  <div class="modal-header px-3 py-3 border-bottom border-dark">
    <h5 id="dialog-sizes-name1" class="modal-title pull-left fw-bolder">UPLOAD BOOK</h5>
    <button (click)="bsModalRef.hide()" type="button" class="btn-close close pull-right" aria-label="Close">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body px-4 py-4 border-bottom border-dark">
    <div>
      <div class="chapter-name-section mb-4">
        <div class="chapter-name__title mb-1">
          <span class="chapter-name__name bg-dark px-3 py-2 text-white rounded-top-3">BOOK NAME<span style="color: red;">&nbsp;*</span></span>
        </div>
        <div class="chapter-name__container">
          <input type="text" required="true" class="fs-5 px-2 py-1 bg-secondary-subtle w-100 custom-border border border-dark-subtle" formControlName="name">
        </div>
      </div>
      <div class="chapter-name-section mb-4">
        <div class="chapter-name__title mb-1">
          <span class="chapter-name__name bg-dark px-3 py-2 text-white rounded-top-3">LINK TO BOOK</span>
        </div>
        <div class="chapter-name__container">
          <input type="text" required="true" class="fs-5 px-2 py-1 bg-secondary-subtle w-100 custom-border border border-dark-subtle" formControlName="url">
        </div>
      </div>
      <div class="chapter-name-section mb-4">
        <div class="chapter-name__title mb-1">
          <span class="chapter-name__name bg-dark px-3 py-2 text-white rounded-top-3">LINK TO BOOK COVER</span>
        </div>
        <div class="chapter-name__container">
          <input type="text" required="true" class="fs-5 px-2 py-1 bg-secondary-subtle w-100 custom-border border border-dark-subtle" formControlName="cover">
        </div>
      </div>
      <div class="chapter-name__title mb-1">
      <span class="chapter-text__name bg-dark px-3 py-2 text-white rounded-top-3">DESCRIPTION</span>
      </div>
      <div class="chapter-name__container border border-dark-subtle custom-border mb-2 overflow-hidden">
        <textarea class="custom-textarea" formControlName="description"
          placeholder="Enter book description..."
        ></textarea>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="footer__button-group px-2 d-flex align-items-center">
      <button class="footer-button btn-custom  me-2 text-white" (click)="bsModalRef.hide()">Відмінити</button>
      <button type="submit" class="footer-button btn btn-dark">Зберегти</button>
    </div>
  </div>
</form>
