<!--<div class="player-container">-->
<!--  <div class="player-main">-->
<!--    <figure>-->
<!--      <figcaption>Listen to the T-Rex:</figcaption>-->
<!--      <audio controls src="/media/cc0-audio/t-rex-roar.mp3">-->
<!--        <a href="/media/cc0-audio/t-rex-roar.mp3"> Download audio </a>-->
<!--      </audio>-->
<!--    </figure>-->
<!--  </div>-->
<!--  <div class="player-title">-->
<!--    <span class="player-title__title">Audio Title</span>-->
<!--  </div>-->
<!--</div>-->

<div class="player-container d-flex bg-white rounded-3">
  <div class="player-cover p-3">
    <img class="rounded-circle" height="100" width="100" src="https://marketplace.canva.com/EAFaQMYuZbo/1/0/501w/canva-brown-rusty-mystery-novel-book-cover-db-_00gXZSY.jpg" alt="cover">
  </div>
  <div class="player-main text-center px-3 pt-4 w-100">
    <div class="player__range">
      <input type="range">
    </div>
    <div class="player-title">Some title</div>
    <div class="player-buttons d-flex justify-content-around">
      <div class="player-buttons__repeat-button">
        <a href="#"><img height="50" width="40" src="assets/player-buttons/repeat.svg" alt="repeat button"></a>
      </div>
      <div class="player-center d-flex">
        <div class="player-buttons__rewind-button mx-2">
          <a href="#"><img height="50" width="40" src="assets/player-buttons/rewind.svg" alt="rewind button"></a>
        </div>
        <div class="player-buttons__play-button mx-2">
          <a href="#"><img height="50" width="40" src="assets/player-buttons/play.svg" alt="play button"></a>
        </div>
        <div class="player-buttons__forward-button mx-2">
          <a href="#"><img height="50" width="40" src="assets/player-buttons/forward.svg" alt="forward button"></a>
        </div>
      </div>
      <div class="player-buttons__volume-button">
        <a href="#"><img height="50" width="40" src="assets/player-buttons/volume.svg" alt="volume button"></a>
      </div>
    </div>
  </div>
</div>
