<div class="d-flex justify-content-center align-items-center h-100">
  <div class="text-center w-50">
    <ng-container *ngIf="audioStreamService.state$ | async as audioState">
      <p class="d-flex justify-content-between">
        <span>{{audioState.currentTime | formatTime}}</span>
        <span>{{audioState.duration | formatTime}}</span>
      </p>

      <button
        (click)="seekByPercent(audioState, $event)"
        class="progress btn btn-primary bg-transparent w-100 p-0 mb-4"
      >
        <div class="progress-outer bg-secondary w-100">
          <div
            [style.width]="audioState.progressPercentage + '%'"
            class="progress-inner bg-primary"
          >
          </div>
        </div>
      </button>

      <button
        (click)="audioStreamService.seek(audioState.currentTime, -30)"
        class="btn btn-sm btn-warning me-2"
      >
        &#9198;
      </button>

      <button
        (click)="togglePlay(audioState.isPlaying)"
        class="btn btn-lg btn-primary me-2"
      >
        <ng-container *ngIf="!audioState.isPlaying">&#9654;</ng-container>
        <ng-container *ngIf="audioState.isPlaying">&#9208;</ng-container>
      </button>

      <button
        (click)="audioStreamService.seek(audioState.currentTime, 30)"
        class="btn btn-sm btn-warning"
      >
        &#9197;
      </button>
    </ng-container>
  </div>
</div>
