<footer class="border-top border-secondary">
  <section class="footer-section mt-5">
    <div class="footer-section-row d-flex justify-content-around">
      <div class="footer-column col-2">
        <span class="fs-3 text-white">Copyright 2023. EP inc.</span>
        <p class="fs-5 text-secondary">
          EP inc. is a web collection of books on paid or free Books and Development libraries
        </p>
      </div>
      <div class="column col-2">
        <span class="fs-3 text-white">Contact Us</span>
        <p class="fs-5 text-secondary">
          +380913238239
          M Building, No.211 B
          egor_akishev@awesome.com
        </p>
      </div>
      <div class="column col-2">
        <ul>
          <li class="text-white"><span class="fs-3">Categories</span></li>
          <li><a class="text-decoration-none text-secondary fs-5" href="#">Design</a></li>
          <li><a class="text-decoration-none text-secondary fs-5" href="#">Development</a></li>
        </ul>
      </div>
      <div class="column col-2">
        <ul>
          <li class="text-white"><span class="fs-3">Company info</span></li>
          <li><a class="text-decoration-none text-secondary fs-5" href="#">About Us</a></li>
          <li><a class="text-decoration-none text-secondary fs-5" href="#">Our Partners</a></li>
          <li><a class="text-decoration-none text-secondary fs-5" href="#">Blog</a></li>
        </ul>
      </div>
    </div>
  </section>
</footer>
