<div class="container-xxl">
  <div class="header p-4 d-flex justify-content-between align-items-center mb-5">
    <div class="header__logo">
      <a href="#">
        <img style="max-width: 120px" src="assets/logo.svg" alt="#">
      </a>
    </div>
    <div class="header__buttons">
      <button class="btn text-white me-2">Login</button>
      <button class="btn btn-info text-white">Sign Up</button>
    </div>
  </div>
  <div class="main-section container mb-6">
    <div class="main-section-inner d-flex justify-content-center flex-wrap flex-lg-nowrap">
      <div class="main-section__text-container d-flex  align-items-center">
        <div class="d-flex flex-column justify-content-around  h-100">
          <div class="main-section__text-row">
            <div class="main-title__container mb-5">
              <span class="h1 text-wrap text-white">Awesome book library for everyone who wants be better</span>
            </div>
            <div class="main-title__subtitle-container mb-5">
              <span class="h3 text-wrap text-secondary">I have no idea what to type here. Any ideas?</span>
            </div>
            <div class="main-title__input-container d-flex justify-content-between border border-secondary-subtle rounded-3 p-2 w-50">
              <input type="text" class="bg-jam-primary w-100" placeholder="Пошук" aria-label="Пошук" aria-describedby="basic-addon1">
              <button class="btn btn-success">Знайти</button>
            </div>
        </div>
          <div class="image-container">
            <img src="assets/links.png" alt="links">
          </div>
        </div>
      </div>
      <div class="main-section__image-container">
        <img src="assets/illustration.png" alt="#">
      </div>
    </div>
  </div>
  <div class="books-section container">
    <div class="books-section__title-container">
      <div class="main-section__text-row">
        <div class="books-section__title-container mb-2 text-center">
          <span class="h1 text-wrap text-white">Most Popular Books</span>
        </div>
        <div class="books-title__subtitle-container text-center">
          <span class="h3 text-wrap text-secondary">I have no idea what to type here. Any ideas?</span>
        </div>
      </div>
    </div>
    <div class="books-section__card-container container-lg d-flex flex-wrap justify-content-between mt-6">
      <div class="books-section__card p-3 d-flex rounded-4 flex-column justify-content-between">
        <div class="books-section__card-title d-flex">
          <div class="card-title__logo me-4 border rounded-4 overflow-hidden">
            <img style="max-width: 80px" src="assets/book.png" alt="book image">
          </div>
          <div class="card-title__title d-flex align-items-center">
            <a href="#" class="h5 text-white">Harry Potter</a>
          </div>
        </div>
        <div class="books-section__book-description p-1">
          <span class="book-description__description text-secondary text-wrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit dshdjoqdlk jqidj qwd jwiqodj wqijd wqidj wijd qw.</span>
        </div>
        <div class="books-section__book-links d-flex justify-content-between">
          <div class="book-links__icons rounded-4">
            <img src="assets/icons.png" alt="like">
          </div>
          <div class="book-links__link">
            <a href="#" class="btn text-secondary">Visit</a>
          </div>
        </div>
      </div>
      <div class="books-section__card p-3 d-flex rounded-4 flex-column justify-content-between">
        <div class="books-section__card-title d-flex">
          <div class="card-title__logo me-4 border rounded-4 overflow-hidden">
            <img style="max-width: 80px" src="assets/book.png" alt="book image">
          </div>
          <div class="card-title__title d-flex align-items-center">
            <a href="#" class="h5 text-white">Harry Potter</a>
          </div>
        </div>
        <div class="books-section__book-description p-1">
          <span class="book-description__description text-secondary text-wrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit dshdjoqdlk jqidj qwd jwiqodj wqijd wqidj wijd qw.</span>
        </div>
        <div class="books-section__book-links d-flex justify-content-between">
          <div class="book-links__icons rounded-4">
            <img src="assets/icons.png" alt="like">
          </div>
          <div class="book-links__link">
            <a href="#" class="btn text-secondary">Visit</a>
          </div>
        </div>
      </div>
      <div class="books-section__card p-3 d-flex rounded-4 flex-column justify-content-between">
        <div class="books-section__card-title d-flex">
          <div class="card-title__logo me-4 border rounded-4 overflow-hidden">
            <img style="max-width: 80px" src="assets/book.png" alt="book image">
          </div>
          <div class="card-title__title d-flex align-items-center">
            <a href="#" class="h5 text-white">Harry Potter</a>
          </div>
        </div>
        <div class="books-section__book-description p-1">
          <span class="book-description__description text-secondary text-wrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit dshdjoqdlk jqidj qwd jwiqodj wqijd wqidj wijd qw.</span>
        </div>
        <div class="books-section__book-links d-flex justify-content-between">
          <div class="book-links__icons rounded-4">
            <img src="assets/icons.png" alt="like">
          </div>
          <div class="book-links__link">
            <a href="#" class="btn text-secondary">Visit</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
