<div class="container mb-7">
  <section class="main-section">
    <section class="main-section container ">
      <div class="main-section-inner d-flex justify-content-around flex-wrap flex-lg-nowrap">
        <div class="main-section__image-container col-5">
          <div class="book-card__img-container text-center" *ngIf="book.cover; else noCover"><img class="book-page__img rounded-4" width="300" height="500" [ngSrc]="book.cover" alt="Book cover"></div>
          <ng-template #noCover><img width="242" height="208" class="book-card__img" [ngSrc]="'assets/book-cover-default.png'" alt="book image"></ng-template>
        </div>
        <div class="main-section__text-container d-flex  align-items-center col-5">
          <div class="d-flex flex-column justify-content-around  h-100">
            <div class="main-section__text-row">
              <div class="main-title__container mb-5">
                <span class="h1 text-wrap text-white">{{book.name}}</span>
              </div>
              <div class="main-title__subtitle-container mb-5">
                <span class="h4 text-wrap text-secondary">{{book.description}}</span>
              </div>
            </div>
            <app-player />
          </div>
        </div>
      </div>
    </section>
  </section>
</div>

