<div class="container mb-7">
  <div class="header p-4 d-flex justify-content-between align-items-center mb-5">
    <div class="header__logo">
      <a href="#">
        <img style="max-width: 120px" src="assets/logo.svg" alt="#">
      </a>
    </div>
    <div class="header__buttons">
      <button class="btn text-white me-2">Login</button>
      <button class="btn-custom">Sign Up</button>
    </div>
  </div>
  <section class="main-section">
    <section class="main-section container ">
      <div class="main-section-inner d-flex justify-content-around flex-wrap flex-lg-nowrap">
        <div class="main-section__image-container col-5">
          <div class="book-card__img-container text-center" *ngIf="book.cover; else noCover"><img class="book-page__img rounded-4" width="300" height="500" [ngSrc]="book.cover" alt="Book cover"></div>
          <ng-template #noCover><img width="242" height="208" class="book-card__img" [ngSrc]="'assets/book-cover-default.png'" alt="book image"></ng-template>
        </div>
        <div class="main-section__text-container d-flex  align-items-center col-5">
          <div class="d-flex flex-column justify-content-around  h-100">
            <div class="main-section__text-row">
              <div class="main-title__container mb-5">
                <span class="h1 text-wrap text-white">{{book.name}}</span>
              </div>
              <div class="main-title__subtitle-container mb-5">
                <span class="h4 text-wrap text-secondary">{{book.description}}</span>
              </div>
            </div>
            <app-player />
          </div>
        </div>
      </div>
    </section>
  </section>
</div>
<footer class="border-top border-secondary">
  <section class="footer-section mt-5">
    <div class="footer-section-row d-flex justify-content-around">
      <div class="footer-column col-2">
        <span class="fs-3 text-white">Copyright 2023. EP inc.</span>
        <p class="fs-5 text-secondary">
          EP inc. is a web collection of books on paid or free Books and Development libraries
        </p>
      </div>
      <div class="column col-2">
        <span class="fs-3 text-white">Contact Us</span>
        <p class="fs-5 text-secondary">
          +380913238239
          M Building, No.211 B
          egor_akishev@awesome.com
        </p>
      </div>
      <div class="column col-2">
        <ul>
          <li class="text-white"><span class="fs-3">Categories</span></li>
          <li><a class="text-decoration-none text-secondary fs-5" href="#">Design</a></li>
          <li><a class="text-decoration-none text-secondary fs-5" href="#">Development</a></li>
        </ul>
      </div>
      <div class="column col-2">
        <ul>
          <li class="text-white"><span class="fs-3">Company info</span></li>
          <li><a class="text-decoration-none text-secondary fs-5" href="#">About Us</a></li>
          <li><a class="text-decoration-none text-secondary fs-5" href="#">Our Partners</a></li>
          <li><a class="text-decoration-none text-secondary fs-5" href="#">Blog</a></li>
        </ul>
      </div>
    </div>
  </section>
</footer>
