<form #ngForm="ngForm" [formGroup]="loginFormGroup">
  <mat-card>
    <mat-card-header class="j-center">
      <h1 mat-card-title>Login</h1>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field floatLabel="always" class="w-full" appearance="outline">
        <mat-label>Username</mat-label>
        <input formControlName="name" matInput type="text" placeholder="e.g. BookWorm12">
        <app-form-field-errors [shouldShow]="ngForm.submitted || nameControl.touched" [errorsMap]="nameErrorsMap" [validationErrors]="nameControl.errors" />
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      <mat-form-field floatLabel="always" class="w-full" appearance="outline">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput [type]="hideMainPass ? 'password' : 'text'" placeholder="******">
        <app-form-field-errors [shouldShow]="ngForm.submitted || passwordControl.touched" [errorsMap]="passwordErrorsMap" [validationErrors]="passwordControl.errors" />
        <button type="button" mat-icon-button matSuffix (click)="hideMainPass = !hideMainPass" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideMainPass">
          <mat-icon>{{hideMainPass ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </mat-card-content>

    <mat-card-footer>
      <mat-card-actions>
        <button type="submit" class="w-full" mat-raised-button color="primary">Login</button>
      </mat-card-actions>
    </mat-card-footer>
  </mat-card>
</form>
