@import "../../../../../variables";

.card-container {
  min-height: 200px;
  min-width: 300px;

  opacity: 0.5;
  transform: scale(1);
  transition: opacity ease-in-out 0.2s, transform ease-in-out 0.2s;

  &:hover, focus {
    background-color: lighten($jam-primary, 5%);

    opacity: 1;
    transform: scale(1.1);
  }
}



