<a [routerLink]="'book/' + name" class="text-decoration-none">
  <div class="card-container p-4 d-flex rounded-4 flex-column justify-content-between h-100 text-decoration-none position-relative">
    <div class="books-section__card-title d-flex justify-content-center align-items-center h-100">
      <div class="card-title__logo col-3 me-4 border rounded-4 overflow-hidden d-flex align-content-center">
        <div class="book-card__img-container" *ngIf="cover; else noCover"><img class="book-card__img" width="80" height="80" [ngSrc]="cover" alt="Book cover"></div>
        <ng-template #noCover><img width="242" height="208" class="book-card__img" [ngSrc]="'assets/book-cover-default.png'" alt="book image"></ng-template>
      </div>
      <div class="h-100 d-flex flex-column justify-content-center">
        <div class="text-center">
          <div class="card-title__title text-center pb-3">
            <span class="h5 text-white text-decoration-none">{{name}}</span>
          </div>
          <div class="books-section__book-description">
          <span class="book-description__description text-secondary text-wrap text-center">
            <ng-container *ngIf="description; else noDescription">{{description}}</ng-container>
            <ng-template #noDescription>No description is provided for this book yet...</ng-template>
          </span>
          </div>
        </div>
        <div class="books-section__book-links d-flex justify-content-between align-items-end h-100">
          <div class="book-links__icons rounded-4 position-relative left-0 bottom-0">
            <img [ngSrc]="'assets/icons.png'" alt="like" height="38" width="94">
          </div>
          <div class="book-links__link">
            <span class="btn-custom px-4 py-2">Visit</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</a>
