<a href="#" class="card-container p-4 d-flex rounded-4 flex-column justify-content-between h-100 text-decoration-none">
  <div class="books-section__card-title d-flex">
    <div class="card-title__logo me-4 border rounded-4 overflow-hidden">
      <img style="max-width: 80px" src="assets/book.png" alt="book image">
    </div>
    <div class="card-title__title d-flex align-items-center">
      <a href="#" class="h5 text-white text-decoration-none">{{name}}</a>
    </div>
  </div>
  <div class="books-section__book-description py-5">
    <span class="book-description__description text-secondary text-wrap">
      <ng-container *ngIf="description; else noDescription">{{description}}</ng-container>
      <ng-template #noDescription>No description is provided for this book yet...</ng-template>
    </span>
  </div>
  <div class="books-section__book-links d-flex justify-content-between align-items-center">
    <div class="book-links__icons rounded-4">
      <img src="assets/icons.png" alt="like">
    </div>
    <div class="book-links__link">
      <a href="#" class="btn-custom px-4 py-2">Visit</a>
    </div>
  </div>
</a>
