
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.d-flex {
  display: flex;
}

.w-full {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-25 {
  width: 25%;
}

.w-33 {
  width: 33%;
}

.h-100 {
  height: calc(100vh - 64px - 20px);
}

.j-center {
  justify-content: center;
}

.a-center {
  align-items: center;
}

.t-center {
  text-align: center;
}
