/* You can add global styles to this file, and also import other style files */

// Maps
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 6,
  7: $spacer * 10
);

// Global
/*Null-style*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;
  -ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}input::-ms-clear{display:none;}
button{cursor: pointer;} button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;} a:hover{text-decoration: none;}
ul li{list-style: none;} img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

/* Importing Bootstrap SCSS file. */
@import "node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

@import "variables.scss";

body {
  background-color: $jam-primary;
}

.bg-jam-primary {
  background-color: $jam-primary;
}

input {
  outline: none;
  border: none;
}

.card-title__logo {

}

.book-card__img {
  max-width: 100px;
  width: 100%;
  height: auto;
}

footer {
  min-height: 170px;
}

.btn-custom {
  color: #fff;
  background-color: $jam-secondary;
  padding: 0.5250rem;
  border-radius: 5px;
  text-decoration: none;

  &:hover, focus {
    background-color: darken($jam-secondary, 5%);
    border: darken($jam-secondary, 5%);
  }

  &:active {
    background-color: lighten($jam-secondary, 5%);
    border: lighten($jam-secondary, 5%);
  }

  &:disabled {
    background-color: darken($jam-secondary, 10%);
    border: darken($jam-secondary, 10%);
  }
}

