<ng-container *ngIf="audioStreamService.state$ | async as audioState">
  <ng-container *ngIf="audioState.isReady">
    <div class="w-full d-flex j-center t-center a-center">
      <div class="w-50">
        <p>
          <span>{{audioState.currentTime | formatTime}}</span>
          <span>/</span>
          <span>{{audioState.duration | formatTime}}</span>
        </p>

        <button
          (click)="seekByPercent(audioState, $event)"
          class="w-full progress"
        >
          <div
            [style.width]="audioState.progressPercentage + '%'"
            class="progress-inner"
          >
          </div>
        </button>

        <div class="controls d-flex a-center j-center">
          <button mat-raised-button color="primary"
                  (click)="audioStreamService.seek(audioState.currentTime, -30)"
          >
            &#9198;
          </button>

          <button mat-raised-button color="primary"
                  (click)="togglePlay(audioState.isPlaying)"
          >
            <ng-container *ngIf="!audioState.isPlaying">&#9654;</ng-container>
            <ng-container *ngIf="audioState.isPlaying">&#9208;</ng-container>
          </button>

          <button mat-raised-button color="primary"
                  (click)="audioStreamService.seek(audioState.currentTime, 30)"
          >
            &#9197;
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
