:host {
  width: 100%;
}

.progress {
  height: 2rem;
  padding: 0;
  margin: 0 0 1rem 0;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  background-color: #424242;
  border-radius: 8px;
  overflow: hidden;
}

.progress-inner {
  height: inherit;
  width: 0;
}

.progress-inner {
  background-color: #673ab7;
}

.controls {
  button:not(:last-child) {
    margin-right: 0.5rem;
  }
}
